@inherits LayoutComponentBase

<PageTitle>BlazorJS</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://www.yogihosting.com/blazor-js-interop-javascript/" target="_blank">Tutorial</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
