@page "/Hello"
@model BlazorRC.Pages.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet" />

<h3 class="bg-info text-white">Select Your City</h3>
<component type="typeof(BlazorRC.Pages.SelectCity)" render-mode="Server" />
<script src="_framework/blazor.server.js"></script>

@{
}
