@page "/"

<PageTitle>Index</PageTitle>

<h1>Tutorial Link</h1>

<a href="https://www.yogihosting.com/blazor-js-interop-javascript/" target="_blank">JS Interop – Working with JavaScript in Blazor</a>

<SurveyPrompt Title="How is Blazor working for you?" />
