@page "/"

<PageTitle>Index</PageTitle>

<h1>Check the Tutorial Links:</h1>
<ul>
	<li><a href="https://www.yogihosting.com/blazor-forms-validation/" target="_blank">Blazor forms and validation</a></li>
	<li><a href="https://www.yogihosting.com/blazor-crud/" target="_blank">CRUD Operations in Blazor with Entity Framework Core</a></li>
	<li><a href="https://www.yogihosting.com/blazor-paging-sorting/" target="_blank">Blazor Number Paging and Sorting</a></li>
</ul>